body {
    background-color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
    color: #fff;
}

nav img {
    width: 80px;
    height: auto;
}