body {
    background-color: white;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
    color: #fff;
}

nav img {
    width: 80px;
    height: auto;
}

nav li {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
  }
  
  nav li a:hover {
    color: #ccc;
  }

  .nav-search {
    display: flex;
    align-items: center;
  }
  
  .nav-search input {
    padding: 5px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
  }
  
